# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Stockfish
*.nnue

# Python
*/__pycache__/
*/*.egg-info/
venv/
training/venv/
training/training_data/
training/test_data/test.pgn
training/test_data/fens.fen
training/stockfish/stockfish-ubuntu-x86-64-avx2
*avx2
.vscode/

# models
models/
*.pt
